-if(code==201)
	div.success Запись успешно добавлена
-if(code==202)
	div.success Запись успешно изменена
-if(code==203)
	div.success Количество товара успешно изменено
-if(code==204)
	div.success Заказ успешно оформлен
-if(code==401)
	div.failure Запись с такими параметрами уже существует
-if(code==403)
	div.failure Максимальное количество товара #{id} может быть #{quant}
-if(code==404)
	div.failure Ошибка запроса, пожалуйста попробуйте снова
-if(code==405)
	div.failure Ошибка, у вас нет прав для просморта данной страницы
-if(code==405)
	div.failure Сумма заказа не была добавлена клиенту