doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{username}
    link(rel='stylesheet' href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Amaranth|Philosopher&display=swap' rel='stylesheet')
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js')
    script(type='text/javascript' src='main.js')
  body
    include includes/header
    .body
      .wrap
        h2 Возможности
        include includes/messages
        div
          ul
            li#addUser Добавить пользователя
            a(href='/userList')
              li#userList Список всех пользователей
            li#addGood Добавить товар
            a(href='/goodList')
              li#goodList Просмотреть товары
            li#addCust Создать нового клиента
            a(href='/custList')
              li#custList Список клиентов
            a(href='/addOrder')
              li#addOrder Создать заказ
            a(href='/orderList')
              li#orderList Просмотреть заказы
            a(href='/basketList')
              li#basketList Просмотреть корзины заказов
    #over.hide
    .form.hide
      form#addU(action='profile/addUser' method='post')
        .text Введите данные пользователя
        input(type='text' name='name' placeholder='Имя' required='')
        input(type='email' name='email' placeholder='email' required='')
        select(name='role')
            -roles.forEach(function(e){
              option(value ='' + e.id) #{e.descr}
            -})
        input(type='text' name='login' placeholder='Логин' required='')
        input(type='password' name='password' placeholder='Пароль' required='')
        input(type='submit' value='Добавить')
      form#addG(action='profile/addGood' method='post')
        .text Введите данные товара
        input(type='text' name='name' placeholder='Название' required='')
        input(type='text' name='art' placeholder='Артикул' required='')
        input(type='number' name='size' placeholder='Размер' required='')
        input(type='number' name='quantity' placeholder='Количество' required='')
        input(type='number' name='price' placeholder='Цена' required='')
        input(type='text' name='img' placeholder='Ссылка на картинку' required='')
        input(type='submit' value='Добавить')
      form#addC(action='profile/addCust' method='post')
        .text Введите данные клиента
        input(type='text' name='name' placeholder='Имя' required='')
        input(type='text' name='address' placeholder='Адрес' required='')
        input(type='tel' name='phone' placeholder='Телефон' required='')
        input(type='number' name='disc' placeholder='Скидка' value='0' required='')
        input(type='submit' value='Добавить')