<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Philosopher&display=swap" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
	<div class="head">
		<div class="logo"><a href="/">SiteToRunGoods</a></div>
	</div>

<div class="body">
	<div id="err">
	 	Такой страницы не существует<br><br>
	 	<a href="\admin">Вернуться</a>
	</div>
</div>
</body>

</html>