<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="main.css">
    </link>
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Philosopher&display=swap" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <div class="head">
        <div class="logo"><a href="/">SiteToRunGoods</a></div>
        <a href="/logout"><img id="logout" src="logout.png" alt="logout" /></a>
        <div id="profile">username</div>
    </div>
    <div class="body">
        <div class="wrap">
            <table>
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Имя</td>
                        <td>Логин</td>
                        <td>email</td>
                        <td>Роль</td>
                    </tr>
                </thead>
                <tbody>
                    <!--  -->
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>